@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@-webkit-keyframes zoomInUp {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  @keyframes zoomInUp {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.palette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    gap: 0px;

}

section{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 85%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.386);
    margin-bottom: 30px;
}

.palette h2{
    color: #3f3f3f;
    font-size:29px;
    font-weight: 700;
    font: optional;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

section .left{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 40%;
    height: 100%;
}

section .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 20px;
}

section .right .hex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 65%;
    border-radius: 20px;
    /* background-color: #f2f2f2; */
    box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.386);
    transition: transform 0.3s ease;
    
}

section .right .hex:hover{
    transform: scale(1.1);
    background-color: rgb(128, 103, 103);
}

section .left p{
    font-family: "Poppins", sans-serif;
    color: #3a3838;
    font-size: 20px;
    
}

.hex p{
    color: black;
    
}

.clipboard{
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #d2c3f9;
    position: fixed;
    top: 90px;
    left: 50;
    z-index: 20;
    border-radius: 24px;
    box-shadow: 0px 7px 34px -9px rgb(0, 0, 0);
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 0.6s;

}